<h2>Guide</h2>

<p>
    This server quickly confirms authentication and is useful for quick development of single page apps.
</p>
<h3>
    Sending Out A Request
</h3>
<p>
    <h4>Request</h4>
    Send a post request to /login
    with the username and password fields
    Accepted credentials:
    username: chuck@example.com password: Norris@1234
</p>
<p>
    <h4>Response</h4>
    The server response with a 200 or 406 status code
</p>